<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto | TravelStigers</title>

  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        referrerpolicy="no-referrer" />

 <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/contacto.css">


  <link rel="icon" type="image/x-icon" href="/images/Untitled_logo_1_free-file.ico">
</head>
<body>

  <%- include('./partials/header') %>

  <main class="contact-main">
    <h1 class="contact-title">Contactanos</h1>

    <section class="contact-cards">


      <article class="contact-card">
        <i class="fa-brands fa-instagram"></i>
        <h2>@travelstigers</h2>
        <p>Mandanos un DM y te respondemos al toque.</p>
        <a class="contact-btn" href="https://instagram.com/travelstigers" target="_blank" rel="noopener">
          Abrir Instagram
        </a>
      </article>


      <article class="contact-card">
        <i class="fa-solid fa-envelope"></i>
        <h2>travelstigers@gmail.com</h2>
        <p>Prefer칤s mail? Escribinos lo que necesites.</p>
        <a class="contact-btn" href="mailto:travelstigers@gmail.com">
          Enviar correo
        </a>
      </article>
        <div class="pcontactanos">
          <p>
          En <strong>TravelStigers</strong> creemos que viajar es m치s que moverse de un lugar a otro. Es descubrir, conectar y disfrutar. Somos una empresa joven, formada por viajeros como vos, que quiere ayudarte a vivir experiencias inolvidables.
        </p>
        <p>
          Ofrecemos paquetes personalizados, atenci칩n al cliente 24/7 y un equipo que te acompa침a desde el primer click hasta que volv칠s a casa. Nuestro compromiso es claro: hacer que cada viaje sea 칰nico.
        </p>
        <p>
          쯊e anim치s a viajar con nosotros? 游냞九걾잺
        </p>
        </div>
  </main>




  <%- include('./partials/footer') %>
</body>
</html>