<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>TravelStigers</title>
  <link rel="stylesheet" href="/css/styles.css" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-dNm+YpL9BQqj5nJ7uE0m7td6yT2bz1lDE3BjQmR9KZ4f5s2Slw13sZ8FK7z+eE/2/hbkD+g8VxWm7R8TZ9NRFg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>

<body>

<header>
   <div class="logo-icon">
    <div class="logo">
      <a href="/">
        <img src="/images/Untitled_logo_1_free-file.jpg" alt="Logo TravelStigers" />
      </a>
    </div>
        <div class="barra-busqueda">
        <input type="text" placeholder="Buscar destino...">
        <button>Buscar</button>
    </div>
    <div class="iconos">
      <a href="/carrito" title="Carrito"><i class="fas fa-shopping-cart"></i></a>
      <a href="/loginUsuario" title="Iniciar sesión"><i class="fas fa-sign-in-alt"></i></a>
      <a href="/crearUsuario" title="Crear cuenta"><i class="fas fa-user-plus"></i></a>
    </div>
  </div>
  <nav class="navegador">
    <ul>
      <li><p><a href="/">Inicio</a></p></li>
      <li><p><a href="/agregarDestino">Destinos</a></p></li>
      <li><p><a href="/contacto">Contacto</a></p></li>
    </ul>
  </nav>
</header>

</body>
</html>
