<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Crear Usuario</title>
  <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="/css/styles.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href=" /images/Untitled_logo_1_free-file.ico">
</head>
<body>
  <%- include("../partials/header") %>
  <div class="form-container logincuadrado">
    <h2>Crear Nuevo Usuario</h2>
    <form action="/nuevoUsuario" method="POST">
      <label for="nombre"  class="labelcrear">Nombre:</label>
      <input type="text" id="nombre" name="nombre" class="inputcrear" required />

      <label for="gmail"  class="labelcrear">Email:</label>
      <input type="email" id="gmail" name="gmail" class="inputcrear" required />

      <label for="contrasenia"  class="labelcrear">Contraseña:</label>
      <input type="password" id="contrasenia" name="contrasenia" class="inputcrear" required />

      <label for="nacimiento"  class="labelcrear">Fecha de Nacimiento:</label>
      <input type="date" id="nacimiento" name="nacimiento" class="inputcrear" />

      <label for="documento"  class="labelcrear">Documento:</label>
      <input type="text" id="documento" name="documento" class="inputcrear"/>

      <button type="submit" class="buttongrla registrar">Registrar</button>
    </form>

    <p>¿Ya tenés cuenta? <a href="/loginUsuario" class="registrate">Ingresá acá</a></p>
  </div>
  <%- include("../partials/footer") %>
</body>
</html>